.header{
    background: url("/img/cappadocia-gdaa1104a9_1920.jpg") no-repeat center;
    height: 10vh;
    box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.568);
    background-attachment: fixed;
    background-size: cover;
    filter: brightness(90%);
  }
  .navbar{
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  nav a{
    color: rgb(198, 212, 124);
    text-decoration: none;
    padding: 1% 2%;
    font-size: 20px;
  }
  nav a:hover{
    color: wheat;
  }
  div h2{
    text-align: center;
  }
 
  .card img{
    height: 250px;
  }
  .espaco{
    height: 10vh;
  }
  .footer{
    position: static;
    bottom: 0%;
    margin: 0%;
    padding: 0%;
  } 